/* *{
    background-color: blue;
} */

#div1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-flow: row; */
    justify-items: center;
}
/* 
#div1 > div > p:nth-child(2) {
    justify-self: center;
} */





#div1 > p:nth-child(-n + 5){
    font-weight: bolder;
    font-size: larger;
}

dialog{
    padding: 30px;
    position: relative;
}


.input-container{
    width: 600px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container > div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

form legend{
    font-weight: 700;
    font-size: larger;
    margin-bottom: 1em;
}

.form-container button{
    margin-top: 20px;
}

.new-book-button-container{
    display: flex;
    justify-content: center;
}

#modal-close-button{
    position: absolute;
    right: .7%;
    top: 1%;
}

#div1 > div{
    display: flex;
    align-items: center;
    gap: .4em;
    /* position: relative; */
}


.error.active{
    padding: .3em;
}
